# Application
NODE_ENV=development
PORT=3001

# Database
# Use this for a hosted database. It takes precedence over DB_HOST and other DB_* fields.
# DATABASE_URL=postgresql://username:password@host:5432/rewear
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=rewear
